PORT=8000

NITTER_INSTANCE=https://nitter.net
ORIGINAL_URL=https://twitter.com

REDDIT_URL=https://www.reddit.com
REDDIT_CLIENT_ID=yH0aTnJEt6qUgGn835B4vg
REDDIT_USER_AGENT=org.quantumbadger.redreader/1.25.1
REDDIT_REFRESH_TOKEN=181291390091524-uhricjH8tLpviWKZgb4DoMma3TX47Q

REDGIFS_URL=https://www.redgifs.com

DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_TRANSLATION_MODEL=deepseek-v4-pro
