<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Left border color -->
        <meta name="theme-color" content="#26a7de">
        <meta property="og:type" content="{{ og_type }}">
        <meta property="og:site_name" content="{{ footer }}">
        <meta property="og:title" content="{{ name }} (@{{ username }})">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:url" content="{{ url }}">
        <meta name="description" content="{{ description }}">
        <meta name="twitter:title" content="{{ name }} (@{{ username }})">
        <meta name="twitter:description" content="{{ description }}">
        {% if site %}
            <meta name="twitter:site" content="{{ site }}">
        {% endif %}
        {% if creator %}
            <meta name="twitter:creator" content="{{ creator }}">
        {% endif %}
        {% for label, value in stats.items() %}
            <meta name="twitter:label{{ loop.index }}" content="{{ label }}">
            <meta name="twitter:data{{ loop.index }}" content="{{ value }}">
        {% endfor %}
        {% if video %}
            <meta name="twitter:card" content="player">
            <meta property="og:video" content="{{ video.url }}">
            <meta property="og:video:url" content="{{ video.url }}">
            <meta property="og:video:secure_url" content="{{ video.url }}">
            <meta property="og:video:type" content="{{ video.content_type }}">
            <meta property="og:video:width" content="{{ video.width }}">
            <meta property="og:video:height" content="{{ video.height }}">
            <meta name="twitter:player:stream" content="{{ video.url }}">
            <meta name="twitter:player:stream:content_type"
                  content="{{ video.content_type }}">
            <meta name="twitter:player:width" content="{{ video.width }}">
            <meta name="twitter:player:height" content="{{ video.height }}">
            {% if poster %}
                <meta property="og:image" content="{{ poster }}">
                <meta property="og:image:secure_url" content="{{ poster }}">
                <meta name="twitter:image" content="{{ poster }}">
            {% endif %}
        {% else %}
            <meta name="twitter:card" content="summary_large_image">
            {% if images %}
                {% for image in images %}
                    <meta name="twitter:image" content="{{ image.url }}">
                    <meta property="og:image" content="{{ image.url }}">
                    <meta property="og:image:secure_url" content="{{ image.url }}">
                    <meta property="og:image:width" content="{{ image.width }}">
                    <meta property="og:image:height" content="{{ image.height }}">
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if not images and not video and avatar %}
            <!-- When there's no media, use the author's avatar as og:image and set twitter:image to "0": -->
            <meta property="og:image" content="{{ avatar }}">
            <meta property="og:image:secure_url" content="{{ avatar }}">
            <meta name="twitter:image" content="0">
        {% endif %}
        <link rel="icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        {% if activity_url %}
            <!-- Triggers Mastodon embed renderer -->
            <link rel="alternate"
                  type="application/activity+json"
                  href="{{ activity_url }}">
        {% endif %}
        {% if oembed_url %}
            <!-- Controls author line + footer in Discord -->
            <link rel="alternate"
                  type="application/json+oembed"
                  href="{{ oembed_url }}">
        {% endif %}
        <title>{{ title }}</title>
    </head>
    <body>
        <dl>
            <dt>Tweet by {{ username }}</dt>
            <dd>
                {{ description }}
            </dd>
            <dt>Link</dt>
            <dd>
                <a href="{{ tweet_url }}">{{ tweet_url }}</a>
            </dd>
        </dl>
        {% for image in images %}
            <img src="{{ image.url }}"
                 alt="Tweet image {{ loop.index }} of {{ images|length }}"
                 width="{{ image.width }}"
                 height="{{ image.height }}">
        {% endfor %}
    </body>
</html>
